<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	</head>
	<body style="background-color: <%= color %>">
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
			body {
				width: 330px;
				height: 165px;
				padding-left: 0.4rem;
				padding-top: 17px;
			}
			h3,
			p {
				font-family: "Poppins", sans-serif;
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 150px;
			}
			.card {
				display: flex;
				flex-direction: row;
				justify-content: center;
				border-radius: 4px;
				padding: 10px 10px 10px 0;
				margin: 0 5px;
				width: 300px;
				box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
				backdrop-filter: blur(6px);
				-webkit-backdrop-filter: blur(6px);
			}
			.user-avatar {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.user-avatar img {
				border-radius: 4px;
				width: 80%;
			}
			.user-avatar h3 {
				justify-content: center;
				align-items: center;
				font-size: 1rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
			}
			.user-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-left: 15px;
			}
			.user-info-data {
				padding-top: 5px;
			}
		</style>
		<div class="card" style="background-color: <%= color %>">
			<div class="user-avatar">
				<img src="<%= avatar %>" alt="avatar do usuario" />
				<h3 style="color: <%= textColor %>"><%= username %></h3>
			</div>
			<div class="user-info">
				<div class="user-info-title">
					<h3 style="color: <%= textColor %>">Saldo na conta:</h3>
				</div>
				<div class="user-info-data">
					<p style="color: <%= textColor %>">$ <%= dollars %></p>
				</div>
			</div>
		</div>
	</body>
</html>
